.subscribe {
    display: flex;
    justify-content: flex-start;
}

.inputEmail {
    width: 220px;
}

.inputName {
    width: 150px;
    border-left: 1px solid var(--bg-color-00);
}

.subscribe button {
    width: 100px;
    margin: 0;
    cursor: pointer;
}